<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Deep sea divers</title>
</head>

<body>
    <!-- Open navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Bootstrap
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-outline-success" class="nav-link active" href="/contact">Contact us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--End navbar-->
    <div>
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="images/bekole.png" class="align-self-start mr-3" alt="" style="width: 18rem">
                    <div class="media-body">
                        <h5 class="mt-0">Bk</h5>
                        <p>
                            Parte de mi trabajo es siempre intentar destacar en lo que hago, algunas veces lo que me piden
                            no es del todo facil y siempre se me complican algunas cosas, sin envargo siempre intento darle
                            buena cara a todo e inspirarme en lo que me gusta hacer.
                        </p>                        
                        <p>
                            Diseñar aplicaciones moviles lo puedo considerar no solo un trabajo, es una manera de imginar 
                            que cosas nos esperan en un futuro, pensar por un momento en lo que voy a crear para innovar 
                            siempre, basarme ne la necesidad real de las personas en consumir aplicaciones. 
                        </p>                       
                         <p>
                            En este trabajo tan simple intente dar mi esfuerzo por siempre sueperar las espectativas, basandome
                            en una paleta de colores psicologica la cual me ayuda analizar a mis clientes de un modo profesional
                            para ello no requiero mucho esfuerzo, siempre he seguido ese algoritmo de psicoanalisis y he planteado
                            lo que mejor les conviene a mis clientes y sus usuarios, dando a entendender lo que realmente quiero
                            llegar a transmitir. 
                        </p>                     
                        
                        <hr>
                        <p class="font-weight-normal">Herramientas utilizadas:</p>
                        <pclass="text-muted">
                            - Adobe XD
                        </p>
                        <br>
                        <small class="text-right">2/06/2020 by: Benjamin Jacob Macias</small>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>